<!--The content below is only a placeholder and can be replaced.-->
<head>
  <meta charset="UTF-8">
  <title>weight converting</title>

</head>
<body>
<p style="font-size: 60px; text-align: center" id="heading"><i><b>weight converter</b></i></p>
<div class="div1">
  <input type="text" id="txt" placeholder="enter value in pounds" style="background: silver; border-radius: 5px;width: 200px;height:20px; margin-top: 20px;margin-left: 20px;">
  <button  onclick="grams()" style="margin-left: 20px; margin-top: 20px; " >
    weight in grams
  </button>
  <button onclick="kilograms()" >
    weight in kilograms
  </button>
  <button onclick="ounces()" >
    weight in ounces
  </button>
  <p id="demo" style="margin-left: 50px;font-size: 36px"></p>
</div>
</body>


